extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Wendy Cortes

        
        p Full Stack JavaScript Developer


        .about-bio

          
          p My newfound enthusiasm for software engineering was piqued when I recognized the huge importance of user experience. With this new age in technology, and with my background in suicide,  I learned that support does not begin when a visitor is connected to me, but it begins the moment they engage with the suicide prevention website.
            | I am confident that my background in mental health has allowed me to develop a keen empathetic outlook on potential problems a user experiences.
            

      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 323 210 5231
          li wmcortes97@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/wmcortes97/' target= "_blank") LinkedIn
        a.btn-link(href='https://github.com/wmcortes97?tab=repositories' target= "_blank") GitHub
        a.btn-link(href='https://www.instagram.com/weeendieee/' target= "_blank") Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back