extends layout.pug

block content

  article.portfolio-intro

    
    h1 My Portfolio

    
    p I have included 5 projects I worked on while completing the JavaScript Fullstack Treehouse Techdegree. I worked with front-end JavaScript and used Node.js and Express to complete this portfolio.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}` , alt='')
            h5= project.project_name
              

