extends layout.pug

block content

  article.portfolio-intro

    
    h1 Hello Potential Employer!

    
    p I have included 5 projects I worked on while completing the JavaScript Fullstack Treehouse Techdegree. 
      | These projects were completed using front-end JavaScript and this portfolio was created using Express and Node.js


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}` , alt='')
            h5= project.project_name
              

