extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 My Portfolio

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p I have included 5 projects I worked on while completing the JavaScript Fullstack Treehouse Techdegree. I worked with front-end JavaScript and used Node.js and Express to complete this portfolio.


  article.portfolio-project-thumbs
    .projects-box.box.grid
        .cell
          each landingPicture in landingPictures
            a(href='#')
              img.thumbnail(src= landingPicture, alt='')
              h5 My Site

